.baner1 {
	margin-left: 17%;
}
.baner2 {
	margin-left: 57%;
}
.baner3 {
	margin-left: 17%;
	margin-top: 25%;
}
.baner4 {
	margin-left: 57%;
	margin-top: 25%;
}
.aa {
	text-decoration: none;
	border: 4px solid #0c8bcf;
	color: #0c8bcf;
	font-size: 36px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	width: 310px;
	height: 130px;
	display: block;
	text-align: center;
	line-height: 70px;
	border-radius: 100px;
	margin-left: 35%;
	margin-top: 45%
}
.zz {
	border: 4px solid #0c8bcf;
	color: #0c8bcf;
}